<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>


<%= link_to 'Show', @listing, class:"waves-effect waves-teal btn-flat" %> |
<%= link_to 'Back', listings_path, class:"waves-effect waves-teal btn-flat" %>
