@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";

body {
   display: flex !important;
   min-height: 100vh !important;
   flex-direction: column !important;
 }

 main {
   flex: 1 0 auto !important;
 }



.btn-flat:focus, .btn-flat:hover {
  text-decoration: none;
  color: #333
}

input[type="file"] {
    display: none;
}
