      <footer class="page-footer" style="background-color: #efefeb;">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="black-text">Shortcuts</h5>
              <p class="black-text">You can use these links to find stuff faster!</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="black-text">Stuff</h5>
              <ul>
                <li><a class="black-text" href="#!">Shoes</a></li>
                <li><a class="black-text" href="#!">Shirts</a></li>
                <li><a class="black-text" href="#!">Pants</a></li>
                <li><a class="black-text" href="#!">Misc</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
        <strong>© 2017 Jon Corrin</strong>
          <a class="black-text" href="#!">More Stuff</a>
          </div>
        </div>
      </footer>
